@import '../../../../../styles/mixins.scss';

.clearButton {
  @include box-styles();
  background-color: #ff6f61;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #f44336;
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    // background: #ddd;
    cursor: not-allowed;
    opacity: 0.5;
    // color: #999;
    pointer-events: none;
    transform: none;
    cursor: not-allowed;
  }
}